@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    background-color: #cbddee;
    width: 100vw;
    height: auto;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin-top: 10px;
    position: fixed;
}
.logo{
    color: white;
}

.list{
    display: flex;
    gap: 30px;
    text-decoration: none;
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f8bd2f;
    padding: 10px;
    transition: 0.5s ease;
}
.list:hover li a{
    color: #fa4917;
}
.list:hover li a:not(:hover){
    color: #a3a1a0;
    opacity: 0.3;
    position: relative;
    filter: blur(1px);
}
.hamburger{
     display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamburger:hover{
    background-color: #f6f4ff;
}
.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fda622;
}
.logo_check{
    display: none;
}
@media only screen  and (max-width: 1140px){
    .menu{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #b9c5d1;
       transition: 0.2s ease-in-out;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    .menu .logo_check{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;

    }
    #nav_check:checked ~ .menu{
        left: 0;
    }
    .menu .list{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .menu .list li{
        margin: 25px;
    }
    .menu .list li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;

    }
    .hamburger{
        display: block;
        
    }
}
.welcome{
    background-color: #31312d;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 900;
    color: #a3a1a0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.main{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-right: 28px;

}
.main h4{
    font-size: 45px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
.main h1{
    font-size: 70px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;;

}
.sto{
    width: 600px;
    height: 600px;
    margin-top: 30px;
    margin-right: 300px;
    mix-blend-mode: color-dodge;
}
.work{
    background-color: #fdfdfb;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;;
    font-weight: 900;
    color: black;
}
.paragraph{
    justify-content: center;
    align-items: center;
}
#heading{
    text-align: center;
    padding: 50px;
       
}
#legacy{
    text-align: center;
    padding: 65px;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 500;
    margin-bottom: -50px;
}
.time{
    background-color: #5e7186;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color:  #cee1e8;
    padding-bottom: 70px;
}
#timeline-hold{
    text-align: center;
    padding: 50px;
    color: black;
}
dt{
    margin: 10px;
    margin-left: 200px;
}
dd{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
@media screen  and (max-width:1140px){
    body{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 21px;
        font-family: 'Poppins', sans-serif;
    }
    .main h4{
        font-family: 'Dancing Script', cursive;
    }  
    .main h1{
        font-family:'Poppins', sans-serif;
    }
    section{
        height: auto;
        width: auto;

    }
    .welcome{
        width: 100vw;
        height: 100vh;
    }
    .sto{
        width: 30vw;
        height: 60vh;
        object-fit: fill;
        margin-right: 70px;
        margin-top: 60px;
    }
    .main h4{
        font-size: 26px;
        font-weight: 400;
        margin-left: 70px;
    }
    .main h1{
        font-size: 40px;
        margin-left: 70px;   
    }
    .work{
        height: auto;
        padding-bottom: 70px;

    }
    .time{
        padding-bottom: 70px;
    }
    dt{
        margin-left: 50px;
    }
}
.footer{
    background-color: #121912;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: 900;
    color:  #cee1e8;
}
.logo{
    color: #f88264ee;
}